
body{
    margin:0;
    padding:0;
}
.header{
    height: 70px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bolder;
    color:#F9FAF8;
}
.links{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap:32px;
}
.links li,.subtexto{
  font-size:18px;
  color:#E5E7EB;
}
.links li:hover{
    color:#3882F6;
    cursor: pointer;
}
.seccion-1{
    height:400px;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap:86px;
}
.lado-izquierdo{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap:12px;
}
img{
    height: 200px;
    width: 400px;
    border-radius: 2px;
}
.titulo{
    font-size: 48px ;
    width:380px;
    font-weight:bolder;
    color: #F9FAF8;
}
button{
    color:white;
    background-color: #3882F6;
    border-radius: 8px;
    border-color: white;
    font-weight: bold;
    font-size: 14px;
}
.boton button{
    border-style: none;
    padding: 8px 15px;
}

.seccion-2,.seccion-3{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.titulo-sec2{
  font-size: 32px;
  color: #1F2937;
  font-weight: bolder;
  text-align: center;
}
.lista-img{
    list-style: none;
    display: flex;
    gap:24px;
}
.lista-img li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
}
.lista-img div{
    color: grey;
}
.lista-img img{
    width:170px;
    height: 170px;
    border-radius: 15px;
    
}
.lista-img img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.seccion-3{
    background-color: #E5E7EB;
    height: 400px;
    padding: 12px;
    gap:1px;
}
.cita{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
    width: 700px;
}
.autor{
    font-size: 16px;
    color:#1F2937;
    font-weight: bolder;
    width: 700px;
    text-align: right;
}
.seccion-4{
    height:300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recuadro{
    background-color: #3882F6;
    border-radius: 5px;
    width:900px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:24px;
}
.izq-secc4{
    color:white;
}
.titulo-secc4{
    font-size: 20px;
    font-weight: bold;
}
.boton-secc4 button{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 6px 20px;
}
.boton :hover, .boton-secc4 :hover{
    background-color: #E5E7EB;
    color: #3882F6;
    cursor: pointer;
}
